<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Merriweather&family=Montserrat:wght@100;400;900&family=Noto+Sans+Tangsa:wght@500&family=Open+Sans:wght@400;500;700&family=Sacramento&family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/content.css">
  <title>EJS Partials</title>
</head>

<header>
    <nav class="navbar fixed-top bg-white navbar-light">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link logo" href="#">DC</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link join" href="#">Join DinoCrunch+</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <form action="/compose" method="POST">
                <input type="submit" class="btn btn-primary" href="#" role="button" value="Create Post">
              </form>
      
          </li>
        </ul>
      </nav>
</header>
<main class="container">
