<%- include("partials/header.ejs") %>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12 create-post-page-title">
                <h1>New Post</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 create-post">
                <form action="/admin/submit" method="POST" enctype="multipart/form-data">
                    <input type="file" name="image" />
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Title</label>
                        <input type="text" class="form-control" name="title">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Subtitle (optional)</label>
                        <input type="text" class="form-control" name="subtitle">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Content</label>
                        <textarea class="form-control content" name="content" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Your Name</label>
                        <input type="text" class="form-control" name="your-name">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Category</label>
                        <input type="text" class="form-control" name="category">
                    </div>
                    <input type="submit" value="Publish">
                </form>          
            </div>
        </div>

    </div>
</body>
</html>