html,
body {
  height: 5000px;
}

.navbar.fixed-top.bg-white.navbar-light {
    position: fixed;
    padding-left: 30px;
  }

svg {
    height: 20px;
    width: 20px;
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
}

@media all and (min-width: 992px) {
    .navbar.fixed-top.bg-white.navbar-light {
      width: 175px;
    }
  }

@media all and (min-width: 992px) {
    .logo {
      position: relative;
      top: -50px;
    }
  }

@media all and (min-width: 992px) {
    .flex-column {
      position: relative;
      right: 75px;
      top: 50px;
      width: 160px;
    }
  }

 
  @media all and (max-width: 767px) {
    .navbar.fixed-top.bg-white.navbar-light {
       padding-top: 0px;
       padding-bottom: 0px;
       padding-left: 4%;
       padding-right: 4%;
    }
  }


  @media all and (max-width: 767px) {
    .flex-column {
       height: 200px;
    }
  }


  @media all and (max-width: 767px) {
    .col-7.featured {
       padding-top: 83px;
       padding-left: 2%;
       padding-right: 17%;
       width: auto;
    }
  }
  
  @media all and (max-width: 767px) {
    .col-12.featured{
        justify-content: center;
        padding-left: 2%;
        padding-right: 2%;
        padding-bottom: 0% !important;
        height: 190px;
    }
  }

  @media all and (max-width: 767px) {
    .profile {
        max-width: 100%;
        max-height: 100%;
    }
  }

  @media all and (max-width: 767px) {
    .col-12.latest {        
        justify-content: left;
        padding-top: 0% !important;
        padding-left: 3%;
        padding-bottom: 1%;
        width: 100%;
    }
  }

  @media all and (max-width: 767px) {
    .latestTitle {        
        padding-top: 5% !important;
    }
  }
  
  @media all and (max-width: 767px) {
    .col-12.line {        
        padding-left: 3%;
    }
  }

  @media all and (max-width: 767px) {
    .row.latest {   
        padding-top: 2% !important;
        padding-left: 0px !important;
        
    }
  }

  @media all and (max-width: 767px) {
    .previewTitle {   
        padding-right: 0% !important;
        
    }
  }

  @media all and (max-width: 767px) {
    .summary {   
        display: none;
        
    }
  }

  @media all and (max-width: 767px) {
    .previewImage {   
        padding-left: 0% !important;
        padding-right: 0% !important;
        
    }
  }

  @media all and (max-width: 767px) {
    .thumbnail {   
        max-width: 120px !important; 
        max-height: 55px !important;
        float: right !important;
        padding-right: 7% !important;
        
    }
  }

  @media all and (max-width: 767px) {
    .col-12.create-post-page-title {   
        padding-top: 17%;
        padding-left: 2%;
        padding-right: 2%;
    }
  }

  @media all and (max-width: 767px) {
    .col-12.create-post {   
        padding-left: 2%;
        padding-right: 2%;
    }
  }

  @media all and (max-width: 767px) {
    .row.post-title {
      padding-left: 7% !important;
      padding-right: 7% !important;
    }
  }

  @media all and (max-width: 767px) {
    .post-title {
      padding-top: 16%;
      padding-left: 0% !important;
      padding-right: 0% !important;
      max-width: 324px;
    }
  }

  @media all and (max-width: 767px) {
    .col-12.col-md-9.post-title-info {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  @media all and (max-width: 767px) {
    .post-author{
      padding-top: 4% !important;
      padding-bottom: 2% !important;

  }
  }

  @media all and (max-width: 767px) {
    .green-slash::before{
      content: "\a";
      white-space: pre;
  }
  }

  @media all and (max-width: 767px) {
    .row.post-image {
      margin-left: 0 !important;
      padding-left: 4% !important;
      padding-right: 4% !important;
    }
  }

  @media all and (max-width: 767px) {
    .post-image {
      width: 100% !important;
      height: 193.34px !important;
      object-fit: cover;
      margin-left: 0 !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
  
  @media all and (max-width: 767px) {
    .row.post-content {
      padding-left: 7% !important;
      padding-right: 7% !important;
    }
  }

  @media all and (max-width: 767px) {
    .col-12.col-md-8.content {
      padding-left: 0% !important;
      padding-right: 0% !important;
      width: 100% !important;
    }
  }

#create {
    position: fixed;
    height: 50px;
    width: 100px;
}

.logo {
    color:#32de84 !important;
}

.nav-link.join {
    color: #FFBF00 !important;
}

a:hover {
    color: #32de84 !important;
}

.featured-title {
    padding-bottom: 20px;
 }

.profile {
  height: 255px;
  width: 445px;
  object-fit: cover;
}

.latestTitle {
    padding-top: 50px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.col-md-6.featured {
    padding-top: 0px;
    padding-bottom: 20px;
}

.featured-author {
    padding-bottom: 0px;
    margin-bottom: 10px;
}

.col-12 {
    padding-left: 130px;
}

.col-md-6, .col-2, .col-7 {
    padding-left: 130px;
    padding-top: 30px;
}

.row.latest {
    padding-left: 115px;
    padding-top: 10px;
}

hr {
  border: none;
  height: 2px;
  opacity: 0.08;
  /* Set the hr color */
  color: #333;  /* old IE */
  background-color: #333;  /* Modern Browsers */
}

a {
    text-decoration: none !important;
    color: black;
  }

.preview-row:hover, .preview-row:active {
    color: black !important;
    opacity:0.5;
}

.col-3.previewTitle {
    padding-right: 40px;
    margin-right: -25px;
}

.preview-category {
  color: #32de84;
  margin-bottom: 0;
}

.preview-author {
    margin-top: 10px;
    margin-bottom: 5px;
}

.preview-datetime {
    padding-right: 42px;
}

.col-3.text-muted {
    white-space:normal; 
    text-align: left;  
    margin-right: 15px;  
}

.thumbnail {
  width: 215px;
  height: 115px;
  object-fit: cover;
  object-position: 70% 50%;
}

.form-control.content {
  height: 300px;
}

.post-image {
  width: 570px;
  height: 375px;
  object-fit: cover;
  object-position: 70% 50%;
  margin-left: 175px;
}

.camera-icon-image {
  width: 20px;
  height: 20px;
  object-fit: fill;
  padding-left: 0;
  padding-right: 0;
  margin-right: 0 !important;
}

.image-credits {
  width: 250px;
  padding-left: 1.5%;
}

.row.camera-icon {
  padding-left: 12%;
  padding-top: 3.5%;
}

.row.camera-icon > img,
.row.camera-icon > p {
  display: inline-block;
  vertical-align: middle; /* Aligns items vertically */
  margin-right: 10px; /* Optional, for spacing between elements */
}

.row.post-title {
    padding-top: 30px;
    padding-left: 175px;
}

.post-title {
    padding-right: 30px;
}

.green-slash {
    color: #32de84;
}

.post-author {
    padding-top: 20px;
    padding-bottom: 15px;
}

.row.post-content {
    padding-top: 1.5%;
    padding-left: 175px;
    padding-right: 26px;
}