html,
body {
  height: 5000px;
}

.navbar.fixed-top.bg-white.navbar-light {
    position: fixed;
    padding-left: 30px;
  }

@media all and (min-width: 992px) {
    .navbar.fixed-top.bg-white.navbar-light {
      width: 175px;
    }
  }

@media all and (min-width: 992px) {
    .logo {
      position: relative;
      top: -50px;
    }
  }

@media all and (min-width: 992px) {
    .flex-column {
      position: relative;
      right: 75px;
      top: 50px;
      width: 160px;
    }
  }

 
  @media all and (max-width: 767px) {
    .navbar.fixed-top.bg-white.navbar-light {
       padding-top: 0px;
       padding-bottom: 0px;
       padding-left: 4%;
       padding-right: 4%;
    }
  }


  @media all and (max-width: 767px) {
    .flex-column {
       height: 200px;
    }
  }


  @media all and (max-width: 767px) {
    .col-7.featured {
       padding-top: 80px;
       padding-left: 2%;
       padding-right: 17%;
       width: auto;
    }
  }
  
  @media all and (max-width: 767px) {
    .col-12.featured{
        justify-content: center;
        padding-left: 2%;
        padding-right: 2%;
        padding-bottom: 0% !important;
        height: 190px;
    }
  }

  @media all and (max-width: 767px) {
    .profile {
        max-width: 100%;
        max-height: 100%;
    }
  }

  @media all and (max-width: 767px) {
    .col-12.latest {        
        justify-content: left;
        padding-top: 0% !important;
        padding-left: 0%;
        width: 100%;
    }
  }

  @media all and (max-width: 767px) {
    .latestTitle {        
        padding-top: 5% !important;
    }
  }
  
  @media all and (max-width: 767px) {
    .col-12.line {        
        padding-left: 0px;
    }
  }

  @media all and (max-width: 767px) {
    .row.latest {   
        padding-left: 0px !important;
        
    }
  }

  @media all and (max-width: 767px) {
    .previewTitle {   
        padding-right: 0% !important;
        
    }
  }

  @media all and (max-width: 767px) {
    .summary {   
        display: none;
        
    }
  }

  @media all and (max-width: 767px) {
    .previewImage {   
        padding-left: 0% !important;
        padding-right: 0% !important;
        
    }
  }

  @media all and (max-width: 767px) {
    .thumbnail {   
        max-width: 90%;
        max-height: 45%;
        
    }
  }

#create {
    position: fixed;
    height: 50px;
    width: 100px;
}

.logo {
    color:#32de84 !important;
}

.nav-link.join {
    color: #FFBF00 !important;
}

a:hover {
    color: #32de84 !important;
}

.featured-title {
    padding-bottom: 20px;
 }

.profile {
  height: 255px;
  width: 445px;
  object-fit: cover;
}

.latestTitle {
    padding-top: 50px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.col-md-6.featured {
    padding-top: 0px;
    padding-bottom: 20px;
}

.featured-author {
    padding-bottom: 0px;
    margin-bottom: 10px;
}

.col-12 {
    padding-left: 130px;
}

.col-md-6, .col-2, .col-7 {
    padding-left: 130px;
    padding-top: 30px;
}

.row.latest {
    padding-left: 115px;
    padding-top: 10px;
}

a {
    text-decoration: none !important;
    color: black;
  }

.preview-row:hover {
    color: black !important;
    opacity:0.5;
}

.col-3.previewTitle {
    padding-right: 40px;
    margin-right: -25px;
}

.preview-author {
    margin-top: 10px;
    margin-bottom: 5px;
}

.preview-datetime {
    padding-right: 42px;
}

.col-3.text-muted {
    white-space:normal; 
    text-align: left;  
    margin-right: 15px;  
}

.thumbnail {
  width: 215px;
  height: 115px;
  object-fit: cover;
  object-position: 70% 50%;
}

.post-image {
  width: 570px;
  height: 375px;
  object-fit: cover;
  object-position: 70% 50%;
  margin-left: 175px;
}

.row.post-title {
    padding-top: 30px;
    padding-left: 175px;
}

.post-title {
    padding-right: 30px;
}

.post-author {
    padding-top: 20px;
    padding-bottom: 15px;
}

.row.post-content {
    padding-top: 40px;
    padding-left: 175px;
    padding-right: 26px;
}