html,
body {
  height: 5000px;
}

.navbar.fixed-top.bg-white.navbar-light {
    position: fixed;
    height: 255px;
    width: 200px;
    padding-left: 30px;
  }

#create {
    position: fixed;
    height: 50px;
    width: 100px;
}

.nav-link.logo {
    color:#32de84 !important;
}

.nav-link.join {
    color: #FFBF00 !important;
}

a:hover {
    color: #32de84 !important;
}

.featured-title {
    padding-bottom: 20px;
 }

.profile {
  height: 255px;
  width: 445px;
  object-fit: cover;
}

.latestTitle {
    padding-top: 50px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.col-6.featured {
    padding-top: 0px;
    padding-bottom: 20px;
}

.featured-author {
    padding-bottom: 0px;
    margin-bottom: 10px;
}

.col-10 {
    padding-left: 130px;
}

.col-6, .col-2, .col-7 {
    padding-left: 130px;
    padding-top: 30px;
}

.row.latest {
    padding-left: 115px;
    padding-top: 10px;
}

a {
    text-decoration: none !important;
    color: black;
  }

.preview-row:hover {
    color: black !important;
    opacity:0.5;
}

.col-3.previewTitle {
    padding-right: 40px;
    margin-right: -25px;
}

.preview-author {
    margin-top: 10px;
    margin-bottom: 5px;
}

.preview-datetime {
    padding-right: 42px;
}

.col-3.text-muted {
    white-space:normal; 
    text-align: left;  
    margin-right: 15px;  
}

.thumbnail {
  width: 215px;
  height: 115px;
  object-fit: cover;
  object-position: 70% 50%;
}

.post-image {
  width: 570px;
  height: 375px;
  object-fit: cover;
  object-position: 70% 50%;
  margin-left: 175px;
}

.row.post-title {
    padding-top: 30px;
    padding-left: 175px;
}

.post-title {
    padding-right: 30px;
}

.post-author {
    padding-top: 20px;
    padding-bottom: 15px;
}

.row.post-content {
    padding-top: 40px;
    padding-left: 175px;
    padding-right: 26px;
}