.logo {
    font-family: 'Open Sans', sans-serif;
    font-size: 30pt;
    font-weight: 800;
}

.nav-link.join {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

@media all and (max-width: 767px) {
    .nav-link {
       font-family: 'Open Sans', sans-serif;
       font-size: 16pt;
    }
  }

  @media all and (max-width: 767px) {
    .create-post-button {
       font-family: 'Open Sans', sans-serif;
       font-size: 16pt;
    }
  }

h1, h2, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

.featured-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 25pt;
}

.featured-author {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
}


.preview-author {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.post-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 25pt;
}

.post-author {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 10pt;
}

.post-datetime {
    font-family: 'Open Sans', sans-serif;
    font-size: 8pt;
    font-weight: 400;
}

.post-content-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 11.5pt;
    line-height: 2;
}