.logo {
    font-family: 'Open Sans', sans-serif;
    font-size: 30pt;
    font-weight: 800;
}

.nav-link.join {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}


@media all and (max-width: 767px) {
    .nav-link {
       font-family: 'Open Sans', sans-serif;
       font-size: 16pt;
    }
  }

  @media all and (max-width: 767px) {
    .create-post-button {
       font-family: 'Open Sans', sans-serif;
       font-size: 16pt;
    }
  }

  
  @media all and (max-width: 767px) {
    .featured-title {
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
        font-size: 21pt !important;
        line-height: 1;
        letter-spacing: -2px;
    }
  }

h1, h2, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

.featured-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 32pt;
    letter-spacing: -2px;
}

.featured-subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 13.5pt;
    opacity: 0.4;
}

.featured-author {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    opacity: 0.8 !important;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
}

.preview-category {
    font-family: 'Open Sans', sans-serif;
}

.preview-title-text {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -1.5px !important;
    font-weight: 600;
    font-size: 16pt;
}

.preview-author {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    opacity: 0.8 !important;
}

.post-category {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: normal;
    font-weight: 400;
}

.post-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 21pt;
    letter-spacing: -2px;
}

.post-author {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 10pt;
    letter-spacing: normal;
    opacity: 0.8 !important;
}

.green-slash {
    font-family: 'Open Sans', sans-serif;
    font-size: 8pt;
    font-weight: 400;
}

.post-datetime {
    font-family: 'Open Sans', sans-serif;
    font-size: 8pt;
    font-weight: 400;
}

.image-credits-bold {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 9.5pt;
}


.post-content-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 11.5pt;
    line-height: 2;
}