@font-face {
    font-family: 'AktivGrotesk-ExtraBold';
    src: url('/fonts/AktivGrotesk/AktivGrotesk_extra-bold.otf') format('opentype');
    font-weight: 800; /* Extra-Bold */
    font-style: normal;
}

@font-face {
    font-family: 'AktivGrotesk-Bold';
    src: url('/fonts/AktivGrotesk/AktivGrotesk_bold.otf') format('opentype');
    font-weight: 800; /* Extra-Bold */
    font-style: normal;
}

@font-face {
    font-family: 'AktivGrotesk-SemiBold';
    src: url('/fonts/AktivGrotesk/AktivGrotesk_semibold.otf') format('opentype');
    font-weight: 800; /* Extra-Bold */
    font-style: normal;
}

@font-face {
    font-family: 'AktivGrotesk-Regular';
    src: url('/fonts/AktivGrotesk/AktivGrotesk_regular.otf') format('opentype');
    font-weight: 800; /* Extra-Bold */
    font-style: normal;
}

.logo {
    font-family: 'Open Sans', sans-serif;
    font-size: 30pt;
    font-weight: 800;
}

.nav-link.join {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}


@media all and (max-width: 767px) {
    .nav-link {
       font-family: 'Open Sans', sans-serif;
       font-size: 16pt;
    }
  }

  @media all and (max-width: 767px) {
    .create-post-button {
       font-family: 'Open Sans', sans-serif;
       font-size: 16pt;
    }
  }

  
  @media all and (max-width: 767px) {
    .featured-title {
        font-family: 'AktivGrotesk-Bold', sans-serif;
        font-weight: 800;
    }
  }

h1, h2, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

.featured-title {
    font-family: 'AktivGrotesk-ExtraBold', sans-serif;
    font-weight: 700;
    font-size: 21.5pt;
    letter-spacing: -1px;
    line-height: 1;
}

.featured-subtitle {
    font-family: 'AktivGrotesk-Regular', sans-serif;
    font-size: 13.5pt;
    opacity: 0.4;
    font-weight: 400;
    letter-spacing: -0.5px;
}

.featured-author {
    font-family: 'AktivGrotesk-SemiBold', sans-serif;
    font-weight: 400;
    opacity: 0.8 !important;
}

p {
    font-family: 'AktivGrotesk-Regular', sans-serif;
    font-size: 10pt;
}

.preview-category {
    font-family: 'AktivGrotesk-Regular', sans-serif;
    font-size: 10pt !important;
}

.preview-title-text {
    font-family: 'AktivGrotesk-ExtraBold', sans-serif;
    letter-spacing: -0.5px !important;
    font-weight: 600;
    font-size: 16pt;
}

.preview-title-text.pinned {
    font-family: 'AktivGrotesk-ExtraBold', sans-serif;
    letter-spacing: -0.5px !important;
    font-weight: 600;
    font-size: 13pt;
}

.preview-author {
    font-family: 'AktivGrotesk-SemiBold', sans-serif;
    font-weight: 600;
    opacity: 0.8 !important;
}

.post-category {
    font-family: 'AktivGrotesk-Regular', sans-serif;
    letter-spacing: normal;
    font-weight: 400;
}

.post-title {
    font-family: 'AktivGrotesk-ExtraBold', sans-serif;
    font-weight: 800;
    font-size: 21pt;
    letter-spacing: -1px;
}

.post-author {
    font-family: 'AktivGrotesk-SemiBold', sans-serif;
    font-weight: 600;
    font-size: 10pt;
    letter-spacing: normal;
    opacity: 0.8 !important;
}

.green-slash {
    font-family: 'AktivGrotesk-Regular', sans-serif;
    font-size: 8pt;
    font-weight: 400;
}

.post-datetime {
    font-family: 'AktivGrotesk-Regular', sans-serif;
    font-size: 8pt;
    font-weight: 400;
}

.image-credits-bold {
    font-family: 'AktivGrotesk-Bold', sans-serif;
    font-weight: 600;
    font-size: 9.5pt;
}


.post-content-text {
    font-family: 'AktivGrotesk-Regular', sans-serif;
    font-size: 11.5pt;
    line-height: 2;
}

.category-page-title {
    font-family: 'AktivGrotesk-ExtraBold', sans-serif;
    font-weight: 800;
    font-size: 28pt;
}